{% extends "base.html.twig" %}

{% block title %}Profile{% endblock %}

{% block body %}
    <div class="shadow-lg mb-4">
        {% include 'navbar.html.twig' %}
    </div>

<div>
    <p>Hello, {{ user.lastname }} {{ user.name }}</p>
    <p>E-mail: {{ user.email }}</p>
    <p>Telephone number: {{ user.phoneNum }}</p>
    <a class="btn btn-primary mb-3" href="{{ path('app_profile_edit') }}">Edit profile</a>
</div>

{% endblock %}

