{% extends 'base.html.twig' %}
{% block head %}
    <title>Sign in</title>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
{% endblock %}

{% block body %}
<body class="text-center">
    <main class="form-signin">
        <img class="imgimg" src="{{ asset('/build/images/bootstrap-logo.svg') }}" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal foo">Please sign in</h1>
        {% if error %}
            {{ error.messageKey|trans(error.messageData, 'security') }}
        {% endif %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <p>Already logged in</p>
            <a href="{{ path('app_dashboard') }}">Dashboard</a>
        {% else %}
            <form action="{{ path('app_login') }}" method="post">
                <div class="form-floating">
                    <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com" value="{{ last_username }}">
                    <label for="email">Email:</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="password" name="_password" placeholder="Password">
                    <label for="password">Password:</label>
                </div>
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me">Remember me
                    </label>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
                <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
            </form>
        {% endif %}
    </main>


</body>
{% endblock %}
