{% extends 'base.html.twig' %}
{% block title %}Sign in{% endblock %}

{% block body %}
    <div>
        <div>
            <div>
                {% if error %}
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                {% endif %}

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <p>Already logged in</p>
                <a href="{{ path('app_dashboard') }}">Dashboard</a>
                    {% else %}
                        <form action="{{ path('app_login') }}" method="post">
                            <label for="email">Email:
                                <input type="text" id="email" name="email" value="{{ last_username }}">
                            </label>
                            <label for="password">Password:
                                <input type="password" id="password" name="_password">
                            </label>
                            <label>
                                <input type="checkbox" value="remember-me"> Remember me
                            </label>
                            {# If you want to control the URL the user is redirected to on success
                            <input type="hidden" name="_target_path" value="/account"> #}
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <button type="submit">Login</button>
                        </form>
            </div>
                {% endif %}
        </div>
    </div>
{% endblock %}